:root {
  /* Colori principali */
  --indigo: #3F51B5;
  --violet: #293377;
  --violet-opaque: #2933772a;

  /* Colore arancione opaco */
  --o: #f7953a3a;

  /* Background e container */
  --mat-menu-container-color: white;
  --mdc-filled-text-field-container-color: white;
  --mat-select-panel-background-color: white;
  --mat-card-background-color: rgba(255, 255, 255, 0.95);

  /* Colori testo e indicatori */
  --mdc-text-button-label-text-color: var(--violet);
  --mat-select-enabled-arrow-color: var(--violet);
  --mat-select-focused-arrow-color: var(--violet);
  --mdc-filled-text-field-focus-label-text-color: var(--violet);
  --mdc-filled-text-field-focus-active-indicator-color: var(--violet);
  --mat-expansion-header-indicator-color: #f7953a;

  /* Bottoni */
  --mdc-protected-button-label-text-color: white;
  --mdc-protected-button-container-color: var(--violet);
  --mdc-filled-button-container-color: var(--violet);
}
